  <div class="top">
    <div class="top-left effect">
      <div class="word">
        <a routerLink="/blog" routerLinkActive="active">TRAVEL</a>
      </div>
    </div>

    <div class="top-right effect ">
      <div class="word">
        <a routerLink="/demo" routerLinkActive="active">DEMO</a>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="middle-text word" >
    {{typewriter_display }}
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-left effect">
      <div class="word">
        <a routerLink="/" routerLinkActive="active">BOOKS</a>
      </div>
    </div>

    <div class="bottom-right effect">
      <div class="word">
        <a routerLink="/contact" routerLinkActive="active">ABOUT ME</a>
      </div>
    </div>

  </div>


